<ng-template #content let-offcanvas>
  <div id="aside-container">
    <div class="offcanvas-header">
      <button id="aside-close" type="button" aria-label="Close" (click)="offcanvas.dismiss('Cross click')">X</button>
    </div>
    <div class="offcanvas-body">
      <ol id="mobile-nav-list">
        <li>
          <a href="/#about" (click)="offcanvas.dismiss('Cross click')">About</a>
        </li>
        <li>
          <a href="/#experience" (click)="offcanvas.dismiss('Cross click')">Experience</a>
        </li>
        <li>
          <a href="/#work" (click)="offcanvas.dismiss('Cross click')">Work</a>
        </li>
        <li>
          <a href="/#podcast" (click)="offcanvas.dismiss('Cross click')">Podcast</a>
        </li>
        <li>
          <a href="/#contact" (click)="offcanvas.dismiss('Cross click')">Contact</a>
        </li>
      </ol>
    </div>
  </div>
</ng-template>

<header>
    <nav>
        <ol id="desktop-nav-list">
          <li #about>
            <a href="/#about">About</a>
          </li>
          <li #experience>
            <a href="/#experience">Experience</a>
          </li>
          <li #projects>
            <a href="/#work">Work</a>
          </li>
          <li #podcast>
            <a href="/#podcast">Podcast</a>
          </li>
          <li #contact>
            <a href="/#contact">Contact</a>
          </li>
        </ol>
        <div id="mobile-nav">
          <button (click)="openRight(content)">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/>
            </svg>
          </button>
        </div>
      </nav>
</header>
