header {

    gap: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;

    nav ul {
        display: flex;
        gap: 3rem;
        padding: 0;
        margin: 0;
        list-style: none;

        li a {
            color: #ccd6f6;
            text-decoration: none;
            font-weight: bold; 

            &:hover {
                color: #64ffda;
            }
          }
      }
  }
  
  @media (min-width: 768px) {
    header {
      font-size: 1.25rem;
      flex-direction: row;
      align-items: flex-start;
      gap: 0;
      padding: 1.5rem 2%;
    }
  }