header {

    nav ol {
        display: flex;
        gap: 3rem;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            counter-increment: item 1;
            a {
                
                font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
                font-size: 1rem;
                color: #ccd6f6;
                text-decoration: none;
                font-weight: bold; 
                &:hover {
                    color: #64ffda;
                }
                &::before {
                    content: "0" counter(item) ".";
                    margin-right: 5px;
                    color: #64ffda;
                    text-align: right;
                }
              }
              
        } 
      }
    div#mobile-nav {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    header {
      gap: 1rem;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      gap: 0;
      padding: 1.5rem 2%;
    }
  }

@media (max-width: 768px) {
  header {
    width: 100%;
    nav ol {
      &#desktop-nav-list {
        display: none
      }
    }
    div#mobile-nav {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      button {
        border: none;
        fill:#64ffda;
        svg.icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      
    }
  }
}