footer {        
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    #built-by{
        p > a {
            padding: 10px;
            color: #a8b2d1;
            text-decoration: none;
            font-weight: bold;
            font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
            font-size: 0.75rem;
            color: #ccd6f6;
            text-decoration: none;
            font-weight: bold;
            text-decoration-skip-ink: auto;
            &:hover {
                color: #64ffda;
            }
        }
    }
    @media (min-width: 769px) { 
        #mobileSocialLinks {
            display: none;
        }
    }

    @media (max-width: 768px) { 
        #mobileSocialLinks {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            ul {
    
                list-style-type: none;
    
                li a {
    
                    padding: 10px;
                    color: #a8b2d1;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
                    font-size: 1.25rem;
                    color: #ccd6f6;
                    text-decoration: none;
                    font-weight: bold;
                    &:hover {
                        color: #64ffda;
                    }
        
                }
            }
                
        }
    }
}

