<section id="about" #about>
    <h2 class="numbered-heading"><span>01.</span>About Me</h2>
    <div class="inner">
        <div id="left-section">
            <div id="summary">
                <p class="normal-text">
                    Hello! My name is Eric and I enjoy making things easier for people on the web. My interest in coding started when I was editing music files in Final Fantasy XI to play anime music instead of the basic battle music.  I had no idea I was changing JSON files but I edited my MySpace page with HTML &amp; CSS!  And after that I always had an interest in coding.
                </p>
                <p class="normal-text">
                    Fast-forward to today, and I’ve had the privilege of working at <a class="highlight" href="https://www.linkedin.com/company/80086312/admin/dashboard/" rel="noopener noreferrer" target="_blank">a open source project team</a> and <a class="highlight" href="https://www.mindbodyonline.com/" rel="noopener noreferrer" target="_blank">a fitness and wellness company</a>. My main focus today is building an external facing e-commerce platform at <a class="highlight" href="https://www.rushenterprises.com/" rel="noopener noreferrer" target="_blank">Rush Enterprises</a>.
                </p>
                <p class="normal-text">
                    Here are a few technologies I’ve been working with recently:
                </p>
            </div>
            <ul class="skills-list">
                <li class="normal-text">JavaScript (ES6+)</li>
                <li class="normal-text">TypeScript</li>
                <li class="normal-text">Angular</li>
                <li class="normal-text">React</li>
                <li class="normal-text">Node.js</li>
                <li class="normal-text">C#</li>
            </ul>
        </div>
        <div id="right-section">
            <div class="wrapper">
                <div id="image-background-container">
                    <div id="presentation">
                        <img alt="" role="presentation" aria-hidden="true" src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E">
                    </div>
                    <div id="presentation-filter" aria-hidden="true" data-placeholder-image="">
                    </div>
                    <img 
                        width="500" 
                        height="500" 
                        data-main-image="" 
                        sizes="(min-width: 500px) 500px, 100vw" 
                        decoding="async" 
                        src="500.jpg" 
                        srcset="500.jpg 125w,
                        500.jpg 250w,
                        500.jpg 500w" 
                        alt="Headshot" 
                        style="object-fit: cover; opacity: 1;"
                    >
                </div>
            </div>
        </div>
    </div>
</section>