@import '../../styles/colors.scss';
@import '../../styles/globals.scss';

section#podcast{
display: flex;
flex-direction: column;
width: 100%;
font-family: $font-sans;
    h2.numbered-heading {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        width: 100%;
        font-size: clamp(26px, 5vw, $fz-heading);
        white-space: nowrap;
        span {
            font-family: $font-mono;
            color: $green;
            margin-right: 1rem;
            font-weight: 400;
        }
        &::after {
            content: "";
            display: flex;
            margin-top: 5px;
            width: 15rem;
            height: 0.063rem;
            margin-left: 20px;
            background-color: $lightest-navy;
        }
    }
    div#podcast-intro {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 3rem;
        ul {
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 200px));
            gap: 0px 10px;
            padding: 0px;
            margin: 20px 0px 0px;
            overflow: hidden;
            list-style: none;
            list-style-type: none;
            li {
                position: relative;
                margin-bottom: 10px;
                padding-left: 20px;
                font-family: $font-mono;
                font-size: $fz-md;
                &::before {
                    content: "▹";
                    position: absolute;
                    left: 0px;
                    color: $green;
                    font-size: $fz-sm;
                    line-height: 12px;
                }
            }
        }    
        div#right-section {
            color: $slate;
        }
    }
    div#podcast-container {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border-radius: 5px;
        margin-top: 1rem;
        div.episodes {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;

            div#episode-title{
                p {
                    text-align: center;
                    color: $green;
                    font-family: $font-mono;
                }
            }

            div#episode-button-section {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                button {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    color: #64ffda;
                    background-color: transparent;
                    border: 1px solid #64ffda;
                    border-radius: 4px;
                    padding: 0.75rem 1rem;
                    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
                    line-height: 1;
                    text-decoration: none;
                    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
                    font-size: 13px;
                    &:hover {
                        outline: none;
                        box-shadow: 3px 3px 0 0 #64ffda;
                        transform: translate(-4px, -4px);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section#podcast {
        padding: 0 1rem;
        h2 {
            font-weight: 600;
            font-size: 2.5rem;
            color: $lightest-slate;
            line-height: 1.1;
        }
        div#podcast-intro {
            display: flex;
            div#right-section {
                display: none;
            }
        }
        div#podcast-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            div.episodes {

                div#episode-button-section {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    button {
                        flex-wrap: wrap;
                        padding: 5px;
                        color: #64ffda;
                        background-color: transparent;
                        font-size: 13px;
                        &:hover {
                            outline: none;
                            box-shadow: 3px 3px 0 0 #64ffda;
                            transform: translate(-4px, -4px);
                        }
                    }
                }
                
            }
        }
    }
}