<section id="podcast" #podcast>
    <h2 class="numbered-heading"><span>04.</span>JavaUnscripted Podcast</h2>
    <div id="podcast-container">
        <div class="episodes">
            <div>
                <p class="numbered-heading">Noteworthy Episodes</p>
            </div>
            <div id="episode-button-section">
                <button class="episode" data-spotify-id="spotify:episode:74Xdf0cE4g8EyRJquvmE7q">
                    Layoffs vs. Grit
                   </button>
                   <button class="episode" data-spotify-id="spotify:episode:2L1Iqk8dCx6zegRzKF8UPi?si=80ff4075e91340ca">
                     Push towards your passion.
                   </button>
                   <button class="episode" data-spotify-id="spotify:episode:72Ui6plLcHX8Ae9R066qTG?si=c282a69acf0d4591">
                     Hello World
                   </button>
            </div>
          </div>
        <div id="embed-iframe"></div>
    </div>

</section>