<section id="podcast" #podcast>
    <h2 class="numbered-heading"><span>04.</span>JavaUnscripted Podcast</h2>
    <div id="podcast-intro">
        <div id="left-section">
            <div id="summary">
                <p class="normal-text">
                    While on the journey to start a new career in tech, Sam Arnold, Charlie Malave, and Eric Saldivar started a podcast called <a class="highlight" href="https://open.spotify.com/show/47bsykKB1LJ3NtzQf3CHTA?si=0a4e555dc7ec4ac9" rel="noopener noreferrer" target="_blank">JavaUnscripted</a>.
                </p>
                <p class="normal-text">
                   The podcast that talks about the journey we take to learn to code, to become proficient, and the challenges we face.  Not strictly a podcast about tech but also about life experiences and the experiences of our guests.
                </p>
                <p class="normal-text">
                    Some of the type of guests we have had include:
                </p>
            </div>
            <ul class="skills-list">
                <li class="normal-text">a Senior software engineering manager</li>
                <li class="normal-text">a Technical recruiter</li>
                <li class="normal-text">a Coding Bootcamp Instructor</li>
                <li class="normal-text">a Military veteran</li>
                <li class="normal-text">a Career transitioner</li>
                <li class="normal-text">a Coding bootcamp graduate</li>
            </ul>
        </div>
        <div id="right-section">
        </div>
    </div>
    <div id="podcast-container">
        <div class="episodes">
            <div id="episode-title">
                <p class="numbered-heading">Noteworthy Episodes</p>
            </div>
            <div id="episode-button-section">
                <button class="episode" data-spotify-id="spotify:episode:74Xdf0cE4g8EyRJquvmE7q">
                    Layoffs vs. Grit
                   </button>
                   <button class="episode" data-spotify-id="spotify:episode:2L1Iqk8dCx6zegRzKF8UPi?si=80ff4075e91340ca">
                     Push towards your passion.
                   </button>
                   <button class="episode" data-spotify-id="spotify:episode:72Ui6plLcHX8Ae9R066qTG?si=c282a69acf0d4591">
                     Hello World
                   </button>
            </div>
          </div>
        <div id="embed-iframe"></div>
    </div>
</section>