<div  id="nav-section" class="d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
		@for(work of workExperience; track work.id; let idx = $index){
			<ng-container [ngbNavItem]="idx + 1">
				<button class="selected" class="navButtons"  ngbNavLink>{{work.shortCompanyName}}</button>
				<ng-template class="navContent" ngbNavContent>
					<app-job [jobDetails]="work"/>
				</ng-template>
			</ng-container>
		}
	</div>

	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>