
.right-side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    padding: 1.5rem 0;
    div .resume-button {
        color: #64ffda;
        background-color: transparent;
        border: 1px solid #64ffda;
        border-radius: 4px;
        padding: 0.75rem 1rem;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        line-height: 1;
        text-decoration: none;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        font-size: 13px;
    
        &:hover, &:focus {
            outline: none;
            box-shadow: 3px 3px 0 0 #64ffda;
            transform: translate(-4px, -4px);
        }
    }
    .email-section {
        display: flex;
        align-items: center;
        padding: 10px;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        line-height: 18px;
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;

        a {
            text-decoration: none;
            color:#ccd6f6;

            &:hover {
                color: #64ffda;
            }  
        }
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 7rem;
            margin: 0px auto;
            background-color: #a8b2d1;
            margin-top: 2rem;
        }
    }

    
}
