<section id="intro-section" #introduction>
    <div class="fadeup-enter-done" style="transition-delay: 100ms;">
        <h1 id="name-is">Hi, my name is</h1>
    </div>
    <div class="fadeup-enter-done" style="transition-delay: 200ms;">
        <h2 class="big-heading">Eric Saldivar.</h2>
    </div>
    <div class="fadeup-enter-done" style="transition-delay: 300ms;">
        <h3 class="big-heading">I like to solve puzzles.</h3>
    </div>
    <div id="what-i-do" class="fadeup-enter-done" style="transition-delay: 400ms;">
        <p>I’m a software engineer specializing in fullstack development.  Currently I am building out the E-commerce platform at <a href="https://www.rushenterprises.com/" target="_blank" rel="noreferrer">Rush Enterprises</a>.</p>
    </div>
</section>