
* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Open Sans", sans-serif;
    
  }

body {
    margin: 0;
    background-color: #c0bdc3;
  }
  
  main {
    width: 80%;
    margin: 3rem 10%;
  }