#avatar {
    display: none;
}
#leftColumn, #rightColumn {
    width: 10%;
    margin: 0;
    padding: 0;

}
#middleColumn {
    width: 80%;
    margin: 0;
    #app-header {
        width: 80%;
    }
    .content {
        margin-top: 10rem;
        padding: 0 9.375rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    #introduction {
        align-self: flex-start;
    }
    #footer {
        margin-bottom: 1rem;
    }
}   

@media (max-width: 768px) {
    #avatar {
        display: flex;
        justify-content: center;
    }
    #leftColumn, #rightColumn {
        display: none;
    
    }
    #middleColumn {
        width: 100%;
        .content {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            padding: 0;
        }
    }
  }