<div class="project-container">
    <div class="project-content">
        <div>
            <p class="project-overline">Featured Project</p>
            <h3 class="project-title">Halycon Theme</h3>
            <div class="project-description">
                A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.
            </div>
            <ul class="project-tech-list">
                <li>React</li>
                <li>Express</li>
                <li>Spotify API</li>
                <li>Styled Components</li>
            </ul>
            <div class="project-links">
    
            </div>
        </div>
    </div>
    <div class="project-image">
    
    </div>
</div>
