


  div#left-side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;

      #social-links {
        padding: 10px 0  0 0;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        line-height: 18px;
        letter-spacing: 0.1em;

        ul {
            display: flex;
            flex-direction: column;
            column-gap: 2rem;
            align-items: center;
            list-style: none;
            li {
                margin-top: 2rem;
                a {
                    text-decoration: none;
                    color:#ccd6f6;
                    .icon {
                        width: 1.5rem;
                        height: 1.5rem;
                        vertical-align: -0.125em;
                      }
                    &:hover {
                        color: #64ffda;
                    }  
    
                }
            }

        }
        
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 7rem;
            margin: 0px auto;
            background-color: #a8b2d1;
            margin-top: 2rem;
            
        }
      }

  }