


  div#left-side-bar {
    position: fixed;
    #logo {
        width: 4.5rem;
        height: 4.5rem;
        padding: 2rem;
        border-radius: 50%;
      }
      
      #logo img {
        width: 100%;
        height: 100%;
      }

  }