/* You can add global styles to this file, and also import other style files */
@import 'globals.scss';  

* {
    background-color: #0a192f;
    margin: 0;
    padding: 0;
}
html {
    scrollbar-width: thin;
    scrollbar-color: #495670 #0a192f;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #0a192f;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #495670;
    border: 3px solid #0a192f;
    border-radius: 10px;
  }
  
.app-root {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }